In [29]:
# *args in python 
# *args allows a function to accept multiple positional arguments
# collects values in tuple

In [30]:
def add(*args):
    print(args)
    return sum(args)

print(add(2,3))
print(add(5,3,6))
print(add(1,6,8))
print(add(1,1))

(2, 3)
5
(5, 3, 6)
14
(1, 6, 8)
15
(1, 1)
2

In [31]:
# **kwargs in python
# **kwargs allows a function to accept multiple keyword arguments(key = value pairs)
# collects data into a dictionary

In [32]:
def print_info(**kwargs):
    print(kwargs)

print_info(Name = "Sajin",Age = 23, Role = "Developer")
print_info(Name = "Cloudly", Company = "Google",Role = "Senior Data Engineer")

{'Name': 'Sajin', 'Age': 23, 'Role': 'Developer'}
{'Name': 'Cloudly', 'Company': 'Google', 'Role': 'Senior Data Engineer'}

In [38]:
# print(type(print_info))
print_info(name = "sajin",age = 23)

{'name': 'sajin', 'age': 23}

In [68]:
def demo(*args,**kwargs):
    print("First_Value:",args)
    print("Second_Key_value:",kwargs)

demo(1,2,3,45,Name = "Sky")

First_Value: (1, 2, 3, 45)
Second_Key_value: {'Name': 'Sky'}

In [70]:
def train_model(model_name,*args,**kwargs):
    print("Model:",model_name)
    print("Extra Values:",args)
    print("Extra Settings",kwargs)

train_model("Random Forest",105,6,3,Max_depth = 5,random_sate = 42)

Model: Random Forest
Extra Values: (105, 6, 3)
Extra Settings {'Max_depth': 5, 'random_sate': 42}

In [76]:
num = [1,4,2]
print(num)
print(type(num))

print(*num)

[1, 4, 2]
<class 'list'>
1 4 2