In [1]:
squares = {x: x**2 for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [8]:
names = ["Sajin","Snow","Milo"]
name_length = {name: len(name) for name in names}
print(name_length)
type(name_length)

{'Sajin': 5, 'Snow': 4, 'Milo': 4}

dict

In [12]:
even_squares = {x: x**2 for x in range(1,11) if x % 2 == 0}
print(even_squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [13]:
result = {x: "even" if x % 2 ==0 else "odd" for x in range(2,6)}
print(result)

{2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

In [15]:
keys = ["Name","Age","Role"]
values = ["Sajin",22,"Data Engineer"]
person = {k: v for k,v in zip(keys,values)}  #zip function acts like a physical zipper
print(person)

{'Name': 'Sajin', 'Age': 22, 'Role': 'Data Engineer'}

In [18]:
data = {"a":"python","b":"sql","c":"kafka"}
upper_data = {k:v.upper() for k,v in data.items()}
upper_data

{'a': 'PYTHON', 'b': 'SQL', 'c': 'KAFKA'}

In [20]:
table = {x: {y: x*y for y in range(1,4)} for x in range(1,4)}
print(table)

{1: {1: 1, 2: 2, 3: 3}, 2: {1: 2, 2: 4, 3: 6}, 3: {1: 3, 2: 6, 3: 9}}