In [1]:
#List comprehensions

In [17]:
numbers = []
for i in range(5):
    numbers.append(i)

print(numbers)

[0, 1, 2, 3, 4]

In [18]:
numbers = [i for i in range(6)]
print(numbers)

[0, 1, 2, 3, 4, 5]

In [21]:
type(numbers)

list

In [23]:
num = [i for i in range(5)]
print(num)

[0, 1, 2, 3, 4]

In [25]:
squares = [i*i for i in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [26]:
evens = [ ]
for i in range(1,11):
    if i % 2 ==0:
        evens.append(i)

In [27]:
evens

[2, 4, 6, 8, 10]

In [29]:
evens = [i for i in range(1,21) if i % 2 == 0]

In [31]:
evens

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [38]:
result = ["Even" if i % 2 ==0 else "Odd" for i in range(1,8)]
print(result)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [45]:
names = ["sajin","abishek","aaron","lijin"]
upper_names = [name.upper() for name in names]
print(upper_names)

['SAJIN', 'ABISHEK', 'AARON', 'LIJIN']

In [49]:
names = ["SajIN","AaROn"]
lower_case = [name.lower() for name in names]
print(lower_case)

['sajin', 'aaron']

In [51]:
letters = [ch for ch in "SnowGold"]
print(letters)

['S', 'n', 'o', 'w', 'G', 'o', 'l', 'd']

In [53]:
pairs = []
for x in [1,2]:
    for y in [3,4]:
        pairs.append((x,y))
print(pairs)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [56]:
pair = [(x,y) for x in [1,2] for y in [3,4]]
print(pair)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [60]:
salaries = [45000,34000,56000]
high_salary = [s for s in salaries if s > 55000] 
print(high_salary)

[56000]