In [15]:
#List - ordered,changeable,allows duplicates

fruits = ["apple","banana","orange"]
print(fruits)

['apple', 'banana', 'orange']

In [16]:
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
orange

In [17]:
fruits[1] = "mango"
print(fruits)

['apple', 'mango', 'orange']

In [18]:
fruits.append("graphs")
print(fruits)

['apple', 'mango', 'orange', 'graphs']

In [19]:
fruits.remove("apple")

In [20]:
fruits

['mango', 'orange', 'graphs']

In [23]:
fruits.append("graphs")
fruits

['mango', 'orange', 'graphs', 'graphs', 'graphs']

In [40]:
#Tuple - ordered, not changeable,allows duplicates

days = ("Monday","Tuesday","Wednesday")
print(days)

('Monday', 'Tuesday', 'Wednesday')

In [41]:
print(days[0])

Monday

In [42]:
#Trying to change the tuple value
days[0] = "demo"  #Its raises error this is the reason it's not changeable

TypeError: 'tuple' object does not support item assignment

In [43]:
# Append can't work in tuple
# Alternatives
t = (1,2,3)
t = t + (4,)

In [44]:
print(t)
type(t)

(1, 2, 3, 4)

tuple

In [57]:
#Set - unordered,unique values only

numbers = {1,2,3,4,4,5}
print(numbers)

{1, 2, 3, 4, 5}

In [58]:
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

In [59]:
numbers.remove(5)
numbers

{1, 2, 3, 4, 6}

In [62]:
a = {1,2,3}
b = {3,4,5}
print(a | b)
print(a & b)

{1, 2, 3, 4, 5}
{3}

In [66]:
#Dictionary - key -> value pairs

student = {
    "name":"Sajin",
    "age":23,
    "course":"Data Science"
}
print(student)

{'name': 'Sajin', 'age': 23, 'course': 'Data Science'}

In [68]:
print(student["name"])
print(student["age"])

Sajin
23

In [70]:
student["age"] = 20

In [71]:
student

{'name': 'Sajin', 'age': 20, 'course': 'Data Science'}

In [72]:
student["city"] = "Chennai"

In [73]:
student

{'name': 'Sajin', 'age': 20, 'course': 'Data Science', 'city': 'Chennai'}

In [75]:
for key,value in student.items():
    print(key,":",value)

name : Sajin
age : 20
course : Data Science
city : Chennai